
<h2>Seu pedido foi enviado!</h2>
<table>
  <% @order.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> &times; </td>
      <td><%= item.product.title %></td> 
    </tr>
  <% end %>
</table>